@charset "UTF-8";

@font-face {
    font-family: idroid;
    src: url('fonts/idroid.otf');
}

body{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color:#0068B5 ;
    padding: 10px;
    margin: 0px;
}

header > h1{
    color: white;
    text-align: center;
}

header > p{
    color: darkgray;
    text-align: center;
}

nav > a{
    text-decoration: none;
    margin-right: 30px;
    color: white;
}

nav > a:hover{
    text-decoration: underline;
    color: green;
}

main{
    background-color: white;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 1px 1px 1px #86b13da1 ;
}

h2{
    font-family: 'idroid', serif;
    color: #86B13D;
}

h1{
    font-family: 'idroid', serif;
    color: #86B13D;
    text-align: center;
}

p{
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    text-indent: 25px;
    font-size: 1.7em;
}

strong{
    color: #86B13D;
}

img{
    display: block;
    margin: auto;
}

iframe{
    display: block;
    margin: auto;
}

section.video{
    background-color: darkgreen;
}

section.tabela{
    background-color: rgba(144, 238, 144, 0.678);
    border-radius: 10px;
}

section.tabela > p#titulo{
    background-color: #36F002;
    padding: 10px;
}

section.tabela > ul{
    font-size: 1.5em;
}

footer{
    background-color: green;
    color: white;
    text-align: center;
    font-size: 1.25em;
    padding: 10px;
    margin: 0px;
}