@charset "UTF-8";

*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

main{
    background-color: white;
    width: 800px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 3px #192e4b6e; 
    padding: 10px;
}

body{
    background-image: linear-gradient(to right, #1D3557, #457B9D);
    background-attachment: fixed;
}

h1{
    color: #D7B29D;
    text-shadow: 1px 1px 0px #a08473be;
    text-align: center;
}

h2{
    color: #78E0DC;
    text-align: left;
}

p{
    text-align: justify;
}