@charset "UTF-8";

*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    background-image: linear-gradient(to right, #F252A1, #FC56FB);
    background-attachment: fixed;
}  

main{
    width: 800px;
    background-color: white;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 0px #da48da65;
}

h1{
    text-align: center;
    color: #7052F2;
    text-shadow: 1px 1px 0px #6248d8b7 ;
}

h2{
    text-align: left;
    color: #A356FC;
    text-shadow: 1px 1px 0px #954ee6b2 ;
}

p{
    text-align: justify;
    font-size: 14pt;
}